{
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/warnings",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["simple-import-sort"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "react": {
      "version": "detect"
    },
    "sourceType": "module"
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": ["property"],
        "format": ["camelCase", "snake_case", "UPPER_CASE"],
        "leadingUnderscore": "allow"
      },
      {
        "selector": ["interface", "class"],
        "format": ["PascalCase"]
      },
      {
        "selector": ["enum", "enumMember"],
        "format": ["StrictPascalCase"]
      }
    ],
    "@typescript-eslint/consistent-type-assertions": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "none",
        "ignoreRestSiblings": true,
        "vars": "all"
      }
    ],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "camelcase": "off",
    "comma-dangle": [
      "warn",
      {
        "arrays": "only-multiline",
        "exports": "only-multiline",
        "functions": "only-multiline",
        "imports": "only-multiline",
        "objects": "only-multiline"
      }
    ],
    "eol-last": "error",
    "no-alert": "error",
    "no-console": "warn",
    "no-eval": "error",
    "no-restricted-globals": ["error", "fdescribe", "fit"],
    "no-trailing-spaces": "error",
    "no-unsafe-finally": "error",
    "no-unused-vars": "off",
    "no-var": "error",
    "object-shorthand": "error",
    "react/display-name": "off",
    "react/prop-types": "off",
    "indent": "off",
    "@typescript-eslint/indent": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "sort-imports": "off",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "sort-vars": "error"
  },
  "settings": {
    "version": "detect",
    "react": {
      "version": "detect"
    }
  }
}
